<%- include("partials/header", {title: title, scripts:undefined})%>
<h1>Something went wrong....</h1>
<button class="btn btn-primary">
    <a href="http://127.0.0.1:8888/"> Torna alla Home</a> 
</button>
<%- include("partials/footer")%>
