<%- include("partials/header", {title: title, scripts:undefined})%>
<h1 style="margin:20px">Something went wrong....</h1>
<button style="margin:20px" class="btn btn-primary">
    <a href="http://127.0.0.1:8888/" class="btn btn-primary">Torna alla Home</a> 
</button>
<%- include("partials/footer")%>

