<%- include("partials/header", {title: title, scripts:undefined})%>
    <p>Per il momento il codice fiscale fornito non corrisponde ad alcuna categoria di rischio, visitare il sito <a href='https://www.salutelazio.it/'>Salute Lazio</a> per maggiori info</p>
<%- include("partials/footer")%>