<%- include("partials/header", {title: title, scripts:undefined})%>
    <p style="margin:20px">Per il momento il codice fiscale fornito non corrisponde ad alcuna categoria di rischio, visitare il sito <a href='https://www.salutelazio.it/'>Salute Lazio</a> per maggiori info</p>
    <button style="margin:20px" class="btn btn-primary">
        <a href="http://127.0.0.1:8888/" class="btn btn-primary">Torna alla Home</a> 
    </button>
<%- include("partials/footer")%>