<%- include("partials/header", {title: title, scripts:undefined})%>
    <main style="display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;">
        <div class="card" style="margin: 20px; min-width: 300px; width: calc(50% - 40px);">
            <h4 class="card-header">Nuova Prenotazione</h4>
            <div class="card-body">
                <p style="padding: 5px 10px">Prenota qui la vaccinazione anti COVID-19. A seconda della tua categoria di rischio ti verranno mostrati i poli vaccinali piu' adatti alla tua condizione di salute. Assicurati di avere a disposizione la Tessera Sanitaria.</p>
                <a href="http://127.0.0.1:8888/scopri_categoria/inserisci_dati">
                    <button class="btn btn-primary">Prenota vaccinazione</button>
                </a>
            </div>
        </div>
        <div class="card" style="margin: 20px; min-width: 300px; width: calc(50% - 40px);">
            <h4 class="card-header">Gestisci Prenotazione</h4>
            <div class="card-body">
                <p style="padding: 5px 10px">Hai gia' prenotato? Visualizza i dettagli della prenotazione. Assicurati di avere a disposizione la Tessera Sanitaria e il numero di richiesta di 14 cifre che ti e' stato appuntato durante la prenotazione.</p>
                <a href="http://127.0.0.1:8888/riepilogo/inserisci_dati">
                    <button class="btn btn-primary">Gestisci prenotazione</button>
                </a>
            </div>
        </div> 
    </main>
<%- include("partials/footer")%>