<%- include("partials/header", {title: title, scripts:undefined})%>
    <h1 style="margin-top:80px; padding:20px">Prenota Vaccino Covid-19</h1>
    <h3 style="padding:20px">Il portale della Regione Lazio per prenotazione, consultazione e gestione dell’appuntamento per la vaccinazione covid-19.</h3>
    <main style="display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;">
        <h2>inserisci dati prenotazione</h2>
    </main>
    
<%- include("partials/footer")%>