<%- include("partials/header", {title: title, scripts:undefined})%>
    <main style="padding:20px;">
        <h4 style="margin: 20px; margin-left: 0px;">Riepilogo</h4>
        <% const result = results[0];%>
            <div class="card" style="margin: 20px;  margin-left: 0px; min-width: 300px; width: calc(50% - 40px);">
                <div class="card-header" >
                    <h5>Richiesta #<%= result['numero_richiesta']%></h5>
                </div>
                <div class="card-body card-erogazioni">
                        <p style="padding: 5px 10px">Polo vaccinale <%= result['polo_vaccinale']%></p>
                        <p style="padding: 5px 10px">Data</p>
                        <p style="padding: 5px 10px">Ora</p>
                        <button id="deleteButton" class="btn btn-primary">Cancella</button>
                </div>
            </div>
            <script>
                var deleteButton = document.getElementById("deleteButton");
                
                deleteButton.addEventListener("click", function(){
                    var xhr = new XMLHttpRequest();
                    xhr.onreadystatechange = function(){
                        if(this.readyState == 4){
                            switch(this.status){
                                case 200:
                                    console.log("eliminato")
                            }
                        }
                    };
                    xhr.open('DELETE', "http://127.0.0.1:8888/riepilogo/cancella_prenotazione"+window.location.search);
                    xhr.send();
                })
            </script>
    </main>
<%- include("partials/footer")%>